#container {
  width: 100%;
  margin: auto;
}

body {
  background-color: rgb(254, 255, 255);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  color: #666;
  font-size: 20px;
}

/* Para a montagem do menu:
SOURCE https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_gray*/

#menu-opcoes ul{
  list-style-type: none;
  margin: 0;
  margin-top: -7px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

#menu-opcoes ul li {
  float: left;

}

#menu-opcoes ul li a {
  display: inline-block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
  
}

#menu-opcoes ul li a:hover {
  background-color: rgb(230, 230, 230);
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

#nome {
  text-align: center;
  font-size: 2em;
}

#imagem {
  border-radius: 100px;
  display: block;
  margin: auto;
}

#content {
 padding-left: 25px;
 padding-bottom: 20px;
}

#about-dani {
  position: relative;
}

h3 {
  text-align: center;
}

#list-content{
  padding-bottom: 280px;
}

#list {
  position: absolute;
  width: 45%;
  border: 2px solid rgb(213, 216, 218);
  border-bottom: 4PX solid rgb(165, 175, 182);
  margin-top: 10PX;
  overflow: auto;
  float: left;
  margin-top: 20px;
  margin: 0 25px;
}

#list2 {
  position: relative;
  width: 45%;
  border: 2px solid rgb(213, 216, 218);
  border-bottom: 4PX solid rgb(190, 190, 190);
  margin-top: 10PX;
  overflow: auto;
  float: right;
  margin-bottom: 100px;
  margin: 0 25px;
}

#list:hover{
  background-color:  #f7f7f7;
}

#list2:hover{
  background-color:  #f7f7f7;
}

footer {
  width: 100%;
  background: rgb(3,100,93);
  background: linear-gradient(90deg, rgba(3,100,93,1) 0%, rgba(11,122,128,1) 42%, rgba(34,159,185,1) 100%);
  clear: both;
  padding-top: 15px;
}

.redes-sociais {
  color: rgba(252, 252, 252, 0.815);
  display: block;
}

.copy {
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}

#linkex{
  display: block;
  text-align: center;
  display: block;
}
